﻿@model BTN_DE.Models.RegisterViewModel
@{
    ViewBag.Title = "Tạo tài khoản";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<div class="container">
    <div class="form_addproduct col-sm-8">
        @using (Html.BeginForm("Create", "AdminUserManager",
            FormMethod.Post, new {enctype = "multipart/form-data", @class = "createform row", data_validatable = true}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-error"})
            <h4>Tạo một tài khoản mới.</h4>
            <fieldset>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.Username)
                    </div>
                    <div class="editor-field col-sm-9">
                        @Html.EditorFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>

                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.Password)
                    </div>
                    <div class="editor-field col-sm-9">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-9">
                        @Html.LabelFor(model => model.ConfirmPassword)
                    </div>
                    <div class="editor-field col-sm-9">
                        @Html.EditorFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>

                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field col-sm-9">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.ConfirmEmail)
                    </div>
                    <div class="editor-field col-sm-9">
                        @Html.EditorFor(model => model.ConfirmEmail)
                        @Html.ValidationMessageFor(model => model.ConfirmEmail)
                    </div>
                </div>

                <div class="form-group">
                    <div class="editor-label col-sm-4">
                        <label>
                            Chọn vài trò cho tài khoản
                        </label>
                    </div>
                    <div class="col-md-10">
                        @foreach (var item in (SelectList) ViewBag.RoleId)
                        {
                            <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox-inline"/>
                            @Html.Label(item.Value, new {@class = "control-label"})
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="editor-field col-sm-9">
                        <input type="submit" value="Hoàn thành"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="editor-field col-sm-9">
                        @Html.ActionLink("Trở lại", "Index")
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
