﻿@model BTN_DE.Models.DeleteUserViewModel

@{
    ViewBag.Title = "Xóa tài khoản";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<h3>Bạn có chắc là muốn xóa người dùng này?</h3>
<div>
    <h4>Người dùng.</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <dt>
                @Html.LabelFor(model => model.ErrorMessage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ErrorMessage)
            </dd>
        }

        <dt>
            @Html.LabelFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div>
                @Html.ActionLink("Trở lại", "Index")
            </div>
        }
        else
        {
            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default"/>
            </div>
            <div>
                @Html.ActionLink("Trở lại", "Index")
            </div>
        }
    }
</div>
