﻿@model BTN_DE.Models.UserDetailsViewModel
@{
    ViewBag.Title = "Thông tin chi tiết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Người dùng</h4>
    <hr/>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </div>
    </div>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.Username)
        </div>
    </div>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.EmailConfirmed)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </div>
    </div>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.RegisterDate)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.RegisterDate)
        </div>
    </div>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.Gender)
        </div>
    </div>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.Birthday)
        </div>
    </div>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>

    <div class="row form_addproduct_child">
        <div class="editor-label col-sm-4">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
    </div>
</div>
<h4>Danh sách các người dùng với vai trò</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Không có người dùng nào với vai trò này.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) | @Html.ActionLink("Trở lại", "Index")
</p>