﻿@model BTN_DE.Models.EditUserViewModel

@{
    ViewBag.Title = "Sửa thông tin người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mẫu sửa thông tin.</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="row form_addproduct_child">
            <div class="editor-label col-sm-4">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field col-sm-9">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="row form_addproduct_child">
            <div class="editor-label col-sm-4">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field col-sm-9">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="row form_addproduct_child">
            <div class="editor-label col-sm-4">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field col-sm-9">
                @Html.DropDownListFor(model => model.Gender, Model.GenderList)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="row form_addproduct_child">
            <div class="editor-label col-sm-4">
                @Html.LabelFor(model => model.Birthday)
            </div>
            <div class="editor-field col-sm-9">
                @Html.EditorFor(model => model.Birthday)
                @Html.ValidationMessageFor(model => model.Birthday)
            </div>
        </div>

        <div class="row form_addproduct_child">
            <div class="editor-label col-sm-4">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field col-sm-9">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="row form_addproduct_child">
            <div class="editor-label col-sm-9">
                @Html.LabelFor(model => model.PhoneNumber)
            </div>
            <div class="editor-field col-sm-9">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label col-sm-4">
                <label>
                    Vai trò
                </label>
            </div>
            <div class="col-md-10">
               @foreach (var item in Model.RolesList)
               {
                <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                @Html.Label(item.Value, new { @class = "control-label" })
               }
            </div>
        </div>

        <div class="form-group">
            <div class="editor-field col-sm-9">
                <input type="submit" value="Lưu thay đổi"/>
            </div>
        </div>
        <div class="form-group">
            <div class="editor-field col-sm-9">
                @Html.ActionLink("Trở lại", "Index")
            </div>
        </div>      
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
