﻿@model BTN_DE.Models.UserIndexViewModel

@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<div class="btn-toolbar list-toolbar">
    <button class="btn btn-primary" onclick=" location.href = '../AdminUserManager/Create'; ">
        <i class="fa fa-plus"></i>Tài khoản mới
    </button>
    <div class="btn-group">
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Tên tài khoản</th>
        <th>Email</th>
        <th>Ngày tạo</th>
        <th style="width: auto;"></th>
    </tr>
    </thead>

    <tbody>
    @{
        for (int i = 0; i < Model.PagingInformation.Items.Count; i++)
        {
            <tr>
                @{
                    var user = Model.PagingInformation.Items[i];
                }
                <td>@((i + 1).ToString())</td>
                <td>@user.UserName.Trim()</td>
                <td>@user.Email.Trim()</td>
                <th>@user.RegisterDate</th>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new {id = user.Id}) |
                    @Html.ActionLink("Chi tiết", "Details", new {id = user.Id}) |
                    @Html.ActionLink("Xóa", "Delete", new {id = user.Id})
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@Html.Raw(Model.PagingInformation.PaginationHtml)