﻿@model List<btn_de.models.tintuc>
    @foreach (var item in Model)
    {
        <div id="news">
            <h3> @Html.ActionLink(@item.TIEUDE, "DetailsNews", new { id = int.Parse(item.ID) })  </h3>
            <a href="@Url.Action("DetailsNews", new { id = int.Parse(item.ID) })">
                <img src="@item.MINHHOA" width="140 px" />
            </a>
            <p>@item.TOMTAT</p>
            <div id="details">
                @Html.ActionLink("Xem Chi tiết", "DetailsNews", new { id = int.Parse(item.ID) })
            </div>
        </div>
    }
    <div class="paging">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.numpage; i++)
            {
                if (i != ViewBag.curpage)
                {
                    <li>
                        @Ajax.ActionLink(@i.ToString(), "ShowPageNews", new { pagenumber = i }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "news",
                                   InsertionMode = InsertionMode.Replace
                               })
                    </li>
                }
                else
                {
                    <li class="disabled"><a href="#">@i</a></li>
                }
            }
        </ul>
    </div>
