﻿@model BTN_DE.Models.TINTUC
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h3>@Model.TIEUDE</h3>
    <img src="@Model.MINHHOA" width="300px" />
    <br />
    <p>@Model.NOIDUNG</p>
    <br />
    <h5>@Model.TACGIA</h5>
    <div class="tab-pane fade active in" id="reviews">
        <div class="col-sm-12">
            <form action="#">
                <span>
                    <input type="text" placeholder="Your Name" />
                    <input type="email" placeholder="Email Address" />
                </span>
                <textarea name=""></textarea>
                <b>Rating: </b> <img src="../../Images/product-details/rating.png" alt="" />
                <button type="button" class="btn btn-default pull-right">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
