﻿@model IEnumerable<BTN_DE.Models.TINTUC>

    @{
        ViewBag.Title = "Tin tức";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <section>
        <div class="container">
            <div id="content_news">
                @foreach (var item in Model)
                {
                    <div id="news">
                        <h3> @Html.ActionLink(@item.TIEUDE, "DetailsNews", new { id = int.Parse(item.ID) })  </h3>
                        <a href="@Url.Action("DetailsNews", new { id = int.Parse(item.ID) })">
                            <img src="@item.MINHHOA" width="140 px" />
                        </a>
                        <p>@item.TOMTAT</p>
                        <div id="details">
                            @Html.ActionLink("Xem Chi tiết", "DetailsNews", new { id = int.Parse(item.ID) })
                        </div>
                    </div>
                }
                <div class="paging">
                    <ul class="pagination">
                        @Html.Raw(ViewBag.HtmlPaging)
                    </ul>
                </div>
            </div>
        </div>
    </section>


