﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/admincss/elements.css" rel="stylesheet" />
    <link href="~/Content/admincss/isotope.css" rel="stylesheet" />
    <link href="~/Content/admincss/premium.css" rel="stylesheet" />
    <link href="~/Content/admincss/theme.css" rel="stylesheet" />

    <link href="~/Content/mstyle/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/mstyle/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/mstyle/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/mstyle/animate.css" rel="stylesheet" />
    <link href="~/Content/mstyle/responsive.css" rel="stylesheet" />
    <link href="~/Content/mstyle/main-control.css" rel="stylesheet" />    

</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        @Html.Partial("_AdminLoginPartial")
    </div>
    <div class="sidebar-nav">
        <ul>
            <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> Bảng điều khiển<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="dashboard-menu nav nav-list collapse in">
                    <li><a href="@Url.Action("Main", "AdminAnalys")"><span class="fa fa-caret-right"></span> Trang chính</a></li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><a href="@Url.Action("Index","AdminRoleManager")"><span class="fa fa-caret-right"></span> Danh sách vai trò</a></li>
                        <li><a href="@Url.Action("Index","AdminUserManager")"><span class="fa fa-caret-right"></span> Danh sách tài khoản</a></li>
                    }
                    
                    <li><a href="@Url.Action("ShowAllProductManager","AdminProductManager")"><span class="fa fa-caret-right"></span> Danh sách sản phẩm</a></li>
                    <li><a href="@Url.Action("ShowAllNewsManager","AdminNewsManager")"><span class="fa fa-caret-right"></span> Danh sách tin tức</a></li>
                    @*<li><a href="calendar.html"><span class="fa fa-caret-right"></span> Calendar</a></li>*@
                </ul>
            </li>
            <li><a href="#" data-target=".accounts-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-briefcase"></i> Tài khoản </a></li>
            <li>
                <ul class="accounts-menu nav nav-list collapse">
                    <li><a href="../Account/Login"><span class="fa fa-caret-right"></span> Đăng nhập</a></li>
                    <li><a href="../Account/Register"><span class="fa fa-caret-right"></span> Đăng ký</a></li>
                    <li><a href="../Account/ForgotPassword"><span class="fa fa-caret-right"></span> Đặt lại mật khẩu</a></li>
                </ul>
            </li>
            @*<li><a href="#" data-target=".legal-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> Legal<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="legal-menu nav nav-list collapse">
                    <li><a href="privacy-policy.html"><span class="fa fa-caret-right"></span> Privacy Policy</a></li>
                    <li><a href="terms-and-conditions.html"><span class="fa fa-caret-right"></span> Terms and Conditions</a></li>
                </ul>
            </li>
            <li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Help</a></li>
            <li><a href="faq.html" class="nav-header"><i class="fa fa-fw fa-comment"></i> Faq</a></li>*@

        </ul>
    </div>
    <div class="content">
        <div class="main-content">



            <div class="panel panel-default">
                <a href="#page-stats" class="panel-heading" data-toggle="collapse">Table</a>
                <div id="page-stats" class="panel-collapse panel-body collapse in">
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>


    <script src="~/Scripts/shopjs/jquery.js"></script>
    <script src="~/Scripts/shopjs/bootstrap.min.js"></script>
    <script src="~/Scripts/shopjs/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/shopjs/price-range.js"></script>
    <script src="~/Scripts/shopjs/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/shopjs/main.js"></script>
    <script src="~/Scripts/shopjs/main-control.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
