﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi</title>
</head>
<body>
    <hgroup>
        <h1>Lỗi.</h1>
        <h2>Có lỗi xảy ra trong khi xử lý yêu cầu của bạn.</h2>
    </hgroup>
</body>
</html>