﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bị khóa";
}

<hgroup>
    <h1 class="text-error">Bị khóa.</h1>
    <h2 class="text-error">Tài khoản này đã bị khóa, vui lòng thử lại sau.</h2>
</hgroup>
