﻿@model BTN_DE.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <h2>@ViewBag.Title.</h2>
                <div>
                    <h4>Thay đổi mật khẩu</h4>
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new {@class = "text-danger"})

                        <div class="editor-label">
                            @Html.LabelFor(model => model.OldPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OldPassword)
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.NewPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ConfirmPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    
                        <button name="submit" type="submit" class="btn btn-default">Đổi mật khẩu</button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}