﻿@model BTN_DE.Models.EditPersonalInfoViewModel

@{
    ViewBag.Title = "Sửa thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <h2>@ViewBag.Title.</h2>
                <div class="login-form">
                    <!--login form-->
                    <h4>Thay đổi thông tin cá nhân của bạn</h4>
                    @using (Html.BeginForm("EditPersonalInfo", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Gender)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.Gender, Model.GenderList)
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Birthday)
                        </div>
                        <div class="editor-field">
                            @{
                                if (Model.Birthday.HasValue)
                                {
                                    @Html.EditorFor(model => model.Birthday)
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Birthday)
                                }
                            }
                           
                            @Html.ValidationMessageFor(model => model.Birthday)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Address)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.PhoneNumber)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PhoneNumber)
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>

                        <button name="submit" type="submit" class="btn btn-default">Lưu thay đổi</button>
                    }
                </div><!--/login form-->
            </div>
        </div>
    </div>
</section><!--/form-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
