﻿@model BTN_DE.Models.IndexViewModel
@{
    ViewBag.Title = "Quản lý tài khoản của bạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h2>@ViewBag.Title.</h2>
            <p class="text-success">@ViewBag.StatusMessage</p>
            <div class="row">
                <div class="col-md-8">
                    <p>
                        @Html.ActionLink("Thay đổi thông tin cá nhân", "EditPersonalInfo")
                    </p>
                    <p>
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Thêm mật khẩu", "SetPassword")
                        }
                    </p>
                    @*<p>
                        Phone Number: @(Model.PhoneNumber ?? "None") [
                        @if (Model.PhoneNumber != null)
                        {
                            @Html.ActionLink("Thay đổi", "AddPhoneNumber")
                            @: &nbsp;|&nbsp;
                            @Html.ActionLink("Xóa", "RemovePhoneNumber")
                        }
                        else
                        {
                            @Html.ActionLink("Thêm", "AddPhoneNumber")
                        }
                        ]
                    </p>*@
                    @*<p>
                        External Logins: @Model.Logins.Count
                        @Html.ActionLink("[Manage]", "ManageLogins")
                    </p>*@
                    @*@if (Model.TwoFactor)
                    {
                        <form method="post" action="/Manage/DisableTFA">
                            <p>
                                Two factor is currently enabled:
                                <input type="submit" value="Disable" class="btn btn-default" />
                            </p>
                        </form>
                    }
                    else
                    {
                        <form method="post" action="/Manage/EnableTFA">
                            <p>
                                Two factor is currently disabled:
                                <input type="submit" value="Enable" class="btn btn-default" />
                            </p>
                        </form>
                    }
                    @if (Model.BrowserRemembered)
                    {
                        <form method="post" action="/Manage/ForgetBrowser">
                            <p>
                                Browser is curently remembered for two factor:
                                <input type="submit" value="Forget Browser" class="btn btn-default" />
                            </p>
                        </form>
                    }
                    else
                    {
                        <form method="post" action="/Manage/RememberBrowser">
                            <p>
                                Browser is curently not remembered for two factor:
                                <input type="submit" value="Remember Browser" class="btn btn-default" />
                            </p>
                        </form>
                    }*@
                </div>
            </div>
        </div>
    </div>
</div>



