﻿@model BTN_DE.Models.SACH
@{
    ViewBag.Title = "Delete Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    @using (@Html.BeginForm("DeleteProduct", "AdminProductManager", FormMethod.Post, new { id = @Model.MaSach }))
    {
        @Html.AntiForgeryToken()
        @Html.Raw(ViewBag.MessageConfirm)
    <fieldset readonly>
        <legend class="title text-center">THÔNG TIN SÁCH</legend>
        <div class="row form_updateproduct_child">
            <div class="editor-label col-sm-4">
                @Html.LabelFor(model => model.TenSach)
            </div>
            <div class="editor-field col-sm-6">
                @Html.Label(@Model.TenSach)
            </div>
        </div>
        <div class="row form_updateproduct_child">
            <div class="editor-label col-sm-4">
                @Html.LabelFor(model => model.TacGia)
            </div>
            <div class="editor-field col-sm-6">
                @Html.Label(@Model.TacGia)
            </div>
        </div>        
        <p>
            <input type="submit" value="Xác nhận xóa"/>            
            <a href="@Url.Action("ShowAllProductManager","AdminProductManager")">Quay lại</a>
        </p>
    </fieldset>
    }
</div>