﻿@model IEnumerable<BTN_DE.Models.SACH>
@{
    ViewBag.Title = "ShowAllProductManager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row" id="allproduct-manager">
    <div class="col-sm-12 padding-right">
        <h2 class="title text-center">Danh Sách Sản Phẩm</h2>
        @foreach (var sach in Model)
        {
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            @if (@sach.TrangBia != null)
                            {
                                <img class="face-product" src="@sach.TrangBia" alt="" />
                            }
                            else
                            {
                                <img class="face-product" src="../../Images/Items/default-book.png" alt="" />
                            }

                            <a href="#" class="book-title" title=" + sachs[i].TenSach + ">@sach.TenSach</a>
                            <a href="#" class="book-author" title=" + sachs[i].TacGia + ">Tác giả: @sach.TacGia</a>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="/AdminProductManager/UpdateProduct/@sach.MaSach"><i class="fa  fa-wrench"></i>Cập nhật</a></li>
                            <li><a href="/AdminProductManager/DeleteProduct/@sach.MaSach"><i class="fa fa-trash-o"></i>Bỏ sách</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<div class="paging">
    <ul class="pagination">
        @Html.Raw(ViewBag.HtmlPaging)
    </ul>
</div>
<div class="row">
    <div class="col-sm-3">
        <a href='@Url.Action("AddProductManager", "AdminProductManager")' id="img_addproduct" class="fa fa-plus-square">Tạo sách mới</a>
    </div>
</div>