﻿@model BTN_DE.Models.SACH
@{
    ViewBag.Title = "Update Book";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    @Html.Raw(ViewBag.UpdateMessage)
    <div class="form_addproduct col-sm-6">
        @using (Html.BeginForm("UpdateProduct", "AdminProductManager", FormMethod.Post, new { id = Model.MaSach, enctype = "multipart/form-data", @class = "createform row", data_validatable = true }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend class="title text-center">THÊM SÁCH</legend>
                <div class="row form_updateproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.TenSach)
                    </div>
                    <div class="editor-field col-sm-6">
                        @Html.EditorFor(model => model.TenSach)
                        @Html.ValidationMessageFor(model => model.TenSach)
                    </div>
                </div>
                <div class="row form_updateproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.TacGia)
                    </div>
                    <div class="editor-field col-sm-6">
                        @Html.EditorFor(model => model.TacGia)
                        @Html.ValidationMessageFor(model => model.TacGia)
                    </div>
                </div>
                <div class="row form_updateproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.NhaXuatBan, "Nhà Xuất Bản:")
                    </div>
                    <div class="editor-field col-sm-4">
                        @Html.DropDownList("NhaXuatBan")
                        @Html.ValidationMessageFor(model => model.NhaXuatBan)
                    </div>
                </div>
                <div class="row form_updateproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.SoTrang)
                    </div>
                    <div class="editor-field col-sm-8">
                        @Html.EditorFor(model => model.SoTrang)
                        @Html.ValidationMessageFor(model => model.SoTrang)
                    </div>
                </div>
                <div class="row form_updateproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.GiaBan)
                    </div>
                    <div class="editor-field col-sm-8">
                        @Html.EditorFor(model => model.GiaBan)
                        @Html.ValidationMessageFor(model => model.GiaBan)
                    </div>
                </div>
                <div class="row form_updateproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.NhomSach, "Nhóm Sách:")
                    </div>
                    <div class="editor-field col-sm-4">
                        @Html.DropDownList("NhomSach")
                        @Html.ValidationMessageFor(model => model.NhomSach)
                    </div>
                </div>
                <div class="row form_updateproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.TrangBia)
                    </div>
                    <div class="editor-field col-sm-8" id="bia">
                        @Html.Editor("TrangBia")
                        @Html.ValidationMessageFor(model => model.TrangBia)
                    </div>
                    <input type="file" name="avatar" id="image-save">
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.ThongTinMoTa)
                    </div>
                    <div class="editor-field col-sm-8">
                        @Html.TextAreaFor(model => model.ThongTinMoTa)
                        @Html.ValidationMessageFor(model => model.ThongTinMoTa)
                    </div>
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.LabelFor(model => model.GioiThieuSach)
                    </div>
                    <div class="editor-field col-sm-8">
                        @Html.TextAreaFor(model => model.GioiThieuSach)
                        @Html.ValidationMessageFor(model => model.GioiThieuSach)
                    </div>
                </div>
                <p>
                    <input type="submit" value="Lưu lại" />
                    <a href="@Url.Action("ShowAllProductManager","AdminProductManager")">Quay lại</a>
                </p>
            </fieldset>
        }
    </div>
</div>

