﻿@model BTN_DE.Models.EditRoleViewModel

@{
    ViewBag.Title = "Xóa vai trò";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<h3>Bạn có muốn xóa vai trò này? </h3>
<p>Xóa Vai trò này sẽ loại bỏ tất cả các người dùng từ vai trò này. Nó sẽ không xóa các người sử dụng.</p>
<div>
    <h4>Vai trò.</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <dt>
                @Html.DisplayNameFor(model => model.ErrorMessage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ErrorMessage)
            </dd>
        }
        
        <dt>
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="form-actions no-color">
                @Html.ActionLink("Trở lại", "Index")
            </div>
        }
        else
        {
            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("Trở lại", "Index")
            </div>
        }
    }
</div>
