﻿@model BTN_DE.Models.RoleViewModel

@{
    ViewBag.Title = "Sửa vai trò";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("Edit", "AdminRoleManager",
    FormMethod.Post, new { enctype = "multipart/form-data", @class = "createform row", data_validatable = true }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Vai trò.</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="row form_addproduct_child">
                <div class="editor-label col-sm-4">
                    @Html.LabelFor(model => model.ErrorMessage)
                </div>
                <div class="editor-field col-sm-9">
                    @Html.DisplayFor(model => model.ErrorMessage)
                </div>
            </div>

            <div class="row form_addproduct_child">
                <div class="editor-label col-sm-4">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="editor-field col-sm-9">
                    @Html.ActionLink("Trở lại", "Index")
                </div>
            </div>
        }
        else
        {
            <div class="row form_addproduct_child">
                <div class="editor-label col-sm-4">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field col-sm-9">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="editor-field col-sm-9">
                    <input type="submit" value="Lưu" class="btn btn-default" />
                </div>
            </div>
            <div class="form-group">
                <div class="editor-field col-sm-9">
                    @Html.ActionLink("Trở lại", "Index")
                </div>
            </div>
        }
                  
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}