﻿@model BTN_DE.Models.RoleIndexViewModel
@{
    ViewBag.Title = "Danh sách vai trò";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<div class="btn-toolbar list-toolbar">
    <button class="btn btn-primary" onclick=" location.href = '../AdminRoleManager/Create'; ">
        <i class="fa fa-plus"></i>Vai trò mới
    </button>
    <div class="btn-group">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Mã số</th>
            <th>Tên</th>
            <th style="width:auto;"></th>
        </tr>
    </thead>

    <tbody>
        @{
            for (int i = 0; i < Model.PagingInformation.Items.Count; i++)
            {
                <tr>
                    @{
                var role = Model.PagingInformation.Items[i];
                    }
                    <td>@((i + 1).ToString())</td>
                    <td>@role.Id.Trim()</td>
                    <td>@role.Name.Trim()</td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = role.Id }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = role.Id }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = role.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.Raw(Model.PagingInformation.PaginationHtml)