﻿body {
}
textarea{
    width:inherit;
}
#img_addproduct {
    font-size: 18px;
    color: black;
}

.face-product {
    height: 300px;
}

.book-title {
    display: block;
    overflow: hidden;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
}

.book-author {
    display: block;
    overflow: hidden;
    color: cornflowerblue;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slide-news {
    height: 300px;
}

.image-showhome {
    height: 240px;
}

.book-item {
    padding: 20px;
}

.allitem-manager {
    overflow: hidden;
}

.product-pannel {
    overflow: hidden;
}

.search-box {
    overflow: hidden;
}
.input-item-search{
    margin:10px;
}
.button-search
{
    background-color:ActiveCaption;
}
.image-cart{
    height: 240px;
    width: 200px;
    margin-bottom: 0;   
    margin-right: 0;   
    margin-left: 0;   
    margin-top: 0;    
}