﻿@{
    ViewBag.Title = "Xác nhận tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h2>@ViewBag.Title.</h2>
            <p>
                Tài khoản đã được xác nhận.
                @Html.ActionLink("Click vào đây để đăng nhập", "Login", "Account",
                    routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
