﻿@{
    ViewBag.Title = "Xác nhận tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h2>@ViewBag.Title.</h2>
            <p class="text-info">
                Hãy kiểm tra email của bạn và xác nhận tài khoản.
            </p>
        </div>
    </div>
</div>

