﻿@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Hãy kiểm tra email để xác nhận đặt lại mật khẩu.
                </p>
                @*<p class="text-danger">
                For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
                Please change this code to register an email service in IdentityConfig to send an email.
            </p>*@
            </div>
        </div>
    </div>
</div>


