﻿@model BTN_DE.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h2>@ViewBag.Title.</h2>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Nhập email của bạn.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <input type="submit" class="btn btn-default" value="Gửi mail" />
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
