﻿@model BTN_DE.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <h2>@ViewBag.Title.</h2>
                <div class="login-form">
                    <!--login form-->
                    <h2>Đăng ký tài khoản</h2>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post,
                        new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Username)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Username)
                            @Html.ValidationMessageFor(model => model.Username)
                            @Html.ValidationMessageFor(model => model.UniqueUsernameError)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ConfirmPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.UniqueEmailError)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ConfirmEmail)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ConfirmEmail)
                            @Html.ValidationMessageFor(model => model.ConfirmEmail)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Gender)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.Gender, Model.GenderList)
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Birthday)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Birthday)
                            @Html.ValidationMessageFor(model => model.Birthday)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Address)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.PhoneNumber)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PhoneNumber)
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                        <div class="editor-label">
                            <label>Xác nhận bạn không phải là robot</label>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LfcqggTAAAAAEJdeudn2LT1FETAQoYMKiky5o0J"></div>
                        <button name="submit" type="submit" class="btn btn-default">Đăng ký</button>
                    }
                </div><!--/login form-->
            </div>
        </div>
    </div>
</section><!--/form-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src='https://www.google.com/recaptcha/api.js'></script>
}