﻿@{
    ViewBag.Title = "Mật khẩu đã được đặt lại";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Mật khẩu của bạn đã được đặt lại. 
                    @Html.ActionLink("Click vào đây để đăng nhập", "Login", "Account", 
                    routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
