﻿@model BTN_DE.Models.TINTUC
@{
    ViewBag.Title = "DeleteNews";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="form_addproduct col-sm-8">
        @using (Html.BeginForm("DeleteNews", "AdminNewsManager", FormMethod.Post, new { id = @Model.ID }))
        {
            @Html.AntiForgeryToken()
            @Html.Raw(ViewBag.MessageConfirm)

            <fieldset readonly>
                <legend class="title text-center">TIN TỨC</legend>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Tiêu đề");
                    </div>
                    <div class="editor-field col-sm-9">
                        @Html.EditorFor(model => model.TIEUDE)
                        @Html.ValidationMessageFor(model => model.TIEUDE)
                    </div>
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Tác giả")
                    </div>
                    <div class="editor-field col-sm-6">
                        @Html.EditorFor(model => model.TACGIA)
                        @Html.ValidationMessageFor(model => model.TACGIA)
                    </div>
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Ngày tạo")
                    </div>
                    <div class="editor-field col-sm-6">
                        @Html.EditorFor(model => model.NGAYTAO)
                        @Html.ValidationMessageFor(model => model.NGAYTAO)
                    </div>
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Tóm tắt")
                    </div>
                    <div class="editor-field col-sm-12">
                        @Html.TextAreaFor(model => model.TOMTAT)
                        @Html.ValidationMessageFor(model => model.TOMTAT)
                    </div>
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Nội dung")
                    </div>
                    <div class="editor-field col-sm-12">
                        @Html.TextAreaFor(model => model.NOIDUNG)
                        @Html.ValidationMessageFor(model => model.NOIDUNG)
                    </div>
                </div>
                <p>
                    <input type="submit" value="Xác nhận xóa" />
                    <a href="@Url.Action("ShowAllNewsManager","AdminNewsManager")">Quay lại</a>
                </p>
            </fieldset>
        }
    </div>
</div>


