﻿@model List<BTN_DE.Models.TINTUC>
    @{
        ViewBag.Title = "Quản lý tin tức";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }



    <div class="row" id="allproduct-manager">
        <div class="col-sm-12">
            <h2>Danh Sách Tin Tức</h2>
            <div class="col-sm-9">
                @foreach (var item in Model)
                {
                    <div id="news">
                        <h3> @item.TIEUDE </h3>

                        <img src="@item.MINHHOA" width="200 px" />
                        <p>@item.TOMTAT</p>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="/AdminNewsManager/UpdateNews/@item.ID"><i class="fa  fa-wrench"></i>Cập nhật</a></li>
                                <li><a href="/AdminNewsManager/DeleteNews/@item.ID"><i class="fa fa-trash-o"></i>Xóa tin</a></li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="paging">
        <ul class="pagination">
            @Html.Raw(ViewBag.HtmlPaging)
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href='@Url.Action("AddNewsManager", "AdminNewsManager")' id="img_addproduct" class="fa fa-plus-square">Tạo tin tức mới</a>
        </div>
    </div>


