﻿@model BTN_DE.Models.TINTUC
@{
    ViewBag.Title = "UpdateNews";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    @Html.Raw(ViewBag.UpdateMessage)
    <div class="form_addproduct col-sm-8">
        @using (Html.BeginForm("UpdateNews", "AdminNewsManager", FormMethod.Post, new { id = @Model.ID, enctype = "multipart/form-data", @class = "createform row", data_validatable = true }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend class="title text-center">Cập nhật TIN TỨC</legend>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Tiêu đề");
                    </div>
                    <div class="editor-field col-sm-9">
                        @Html.EditorFor(model => model.TIEUDE)
                        @Html.ValidationMessageFor(model => model.TIEUDE)
                    </div>
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Tác giả")
                    </div>
                    <div class="editor-field col-sm-6">
                        @Html.EditorFor(model => model.TACGIA)
                        @Html.ValidationMessageFor(model => model.TACGIA)
                    </div>
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Ngày tạo")
                    </div>
                    <div class="editor-field col-sm-6">
                        @Html.EditorFor(model => model.NGAYTAO)
                        @Html.ValidationMessageFor(model => model.NGAYTAO)
                    </div>
                </div>

                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Hình minh họa")
                    </div>
                    <div class="editor-field col-sm-4">
                        <input type="file" name="avatar" id="image-save">
                    </div>
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Tóm tắt")
                    </div>
                    <div class="editor-field col-sm-12">
                        @Html.TextAreaFor(model => model.TOMTAT)
                        @Html.ValidationMessageFor(model => model.TOMTAT)
                    </div>
                </div>
                <div class="row form_addproduct_child">
                    <div class="editor-label col-sm-4">
                        @Html.Label("Nội dung")
                    </div>
                    <div class="editor-field col-sm-12">
                        @Html.TextAreaFor(model => model.NOIDUNG)
                        @Html.ValidationMessageFor(model => model.NOIDUNG)
                    </div>
                </div>
                <p>
                    <input type="submit" value="Lưu lại" />
                    <a href="@Url.Action("ShowAllNewsManager","AdminNewsManager")">Quay lại</a>
                </p>
            </fieldset>
        }
    </div>
</div>


