﻿@model IEnumerable<BTN_DE.Models.CartItem>

@foreach (var cart in Model)
{
    <tr>
        <td class="cart_product imageshow-item">
            <a href="@Url.Action("DetailProduct", "Product", new { id= cart.MaSach})"><img class="image-cart" src="@cart.HinhAnh" alt=""></a>
        </td>
        <td class="cart_description">
            <h4><a href="@Url.Action("DetailProduct", "Product", new { id = cart.MaSach })">@cart.TenSach</a></h4>
            <p>Tác giả: @cart.TacGia </p>
            <p>Nhà Xuất bản: @cart.NhaXuatBan </p>
        </td>
        <td class="cart_price">
            <p>@cart.DonGia</p>
        </td>
        <td class="cart_quantity">
            <div class="cart_quantity_button">
                @Ajax.ActionLink("+", "IncreseItemCount", new { bookID = @cart.MaSach }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "body-change",
                                   InsertionMode = InsertionMode.Replace
                               })
                <label class="cart_quantity_input" type="text" name="SoLuong">@cart.SoLuong</label>
                @Ajax.ActionLink("-", "DecreseItemCount", new { bookID = @cart.MaSach }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "body-change",
                                   InsertionMode = InsertionMode.Replace
                               })
            </div>
        </td>
        <td class="cart_total">
            <p class="cart_total_price">@(@cart.SoLuong * @cart.DonGia)</p>
        </td>
        <td class="cart_delete">
        <td class="cart_delete">
            <div id="decrese-count">
                @Ajax.ActionLink("Xóa", "DeleteItem", new { bookID = @cart.MaSach }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "body-change",
                                   InsertionMode = InsertionMode.Replace
                               })
            </div>
        </td>
        </td>
    </tr>
}