﻿@model IEnumerable<BTN_DE.Models.CartItem>
@{
    ViewBag.Title = "DetailCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description">Mô tả</td>
                        <td class="price">Giá bán</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="body-change">
                    @foreach (var cart in Model)
                    {
                        <tr>
                            <td class="cart_product imageshow-item">
                                <a href="/product/DetailProduct?id=@cart.MaSach"><img class="image-cart" src="@cart.HinhAnh" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="/product/DetailProduct?id=@cart.MaSach">@cart.TenSach</a></h4>
                                <p>Tác giả: @cart.TacGia </p>
                                <p>Nhà Xuất bản: @cart.NhaXuatBan </p>
                            </td>
                            <td class="cart_price">
                                <p>@cart.DonGia</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <div id="decrese-count">
                                        @Ajax.ActionLink("+", "IncreseItemCount", new { bookID = @cart.MaSach }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "body-change",
                                   InsertionMode = InsertionMode.Replace
                               })
                                    </div>
                                    <label class="cart_quantity_input" type="text" name="SoLuong">@cart.SoLuong</label>
                                    <div id="decrese-count">
                                        @Ajax.ActionLink("-", "DecreseItemCount", new { bookID = @cart.MaSach }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "body-change",
                                   InsertionMode = InsertionMode.Replace
                               })
                                    </div>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@(@cart.SoLuong * @cart.DonGia)</p>
                            </td>
                            <td class="cart_delete">
                                <div id="decrese-count">
                                    @Ajax.ActionLink("Xóa", "DeleteItem", new { bookID = @cart.MaSach }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "body-change",
                                   InsertionMode = InsertionMode.Replace
                               })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-default update" href="@Url.Action("Index","Home")">Trở về trang chủ</a>
        <a class="btn btn-default check_out" href="#">Thanh Toán</a>
    </div>
</section> <!--/#cart_items-->