﻿@model IEnumerable<BTN_DE.Models.SACH>
<div class="allitem-manager">
    @foreach (var sa in Model)
    {
        <div class="col-sm-3 book-item">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img class="image-showhome" src="@sa.TrangBia" alt="" />
                        <h3 class="book-title">@sa.TenSach</h3>
                        <p class="book-author">Tác giả: @sa.TacGia</p>
                    </div>
                    <div class="product-overlay">
                        .
                        <div class="overlay-content">
                            <h3>@sa.TenSach</h3>
                            <p>Giá bán: @sa.GiaBan</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/Product/DetailProduct/@sa.MaSach"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>So sánh</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<div class="paging">
    <ul class="pagination">
       @for (int i = 1; i <= ViewBag.numpage; i++)
       {
           if (i != ViewBag.curpage)
           {
            <li>
                @Ajax.ActionLink(@i.ToString(), "ShowPageProduct", new { pagenumber = i }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "page-product",
                                   InsertionMode = InsertionMode.Replace
                               })
            </li>
           }
           else
           {
            <li class="disabled"><a href="#">@i</a></li>
           }
       }
    </ul>
</div>

