﻿@model IEnumerable<BTN_DE.Models.BINHLUAN>
@foreach (var bl in Model)
{
    <ul>
        <li><a href=""><i class="fa fa-user"></i>@bl.TenNguoiGoi</a></li>
        <li><a href=""><i class="fa fa-clock-o"></i>@bl.Gio</a></li>
        <li><a href=""><i class="fa fa-calendar-o"></i>@bl.Ngay</a></li>
    </ul>
    <p>@bl.NoiDung</p>
}

<div class="paging">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.PageCmtCount; i++)
        {
            if (i != ViewBag.CurPage)
            {
                <li>
                    @Ajax.ActionLink(@i.ToString(), "GetComment", new { bookID = ViewBag.BookID, pagenumber = i }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "comment-pane",
                                   InsertionMode = InsertionMode.Replace
                               })
                </li>
            }
            else
            {
                <li class="disabled"><a href="#">@i</a></li>
            }
        }
    </ul>
</div>
          
@using (Ajax.BeginForm("AddComment", "Product", new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "comment-pane",
                                    InsertionMode = InsertionMode.Replace
                                }))
{

    <span>
        <input type="text" id="Name" name="Name" placeholder="Nhập tên" />
    </span>

    <textarea id="Content" name="Content"></textarea>
    <b>Rating: </b> <img src="../../Images/product-details/rating.png" alt="" />
    <input type="hidden" name="BookID" value="@ViewBag.BookID" />
    <button type="submit" class="btn btn-default pull-right">
        Xác nhận
    </button>
}