﻿@{
    ViewBag.Title = "ShowAllProducts";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Loại Sách</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#vanhoctrongnuocnav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Văn Học Trong Nước
                                    </a>
                                </h4>
                            </div>
                            <div id="vanhoctrongnuocnav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN01" })">Phê Bình Văn Học</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN02" })">Phóng Sự Kí Sự</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN03" })">Thơ Ca</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN04" })">Tiểu Thuyết Lãng Mạng</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN05" })">Truyện Dài</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN06" })">Truyện Ngắn</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN07" })">Truyện Thiếu Nhi</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#vanhocnuocngoainav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Văn Học Nước Ngoài
                                    </a>
                                </h4>
                            </div>
                            <div id="vanhocnuocngoainav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN08" })">Phê Bình Văn Học</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN09" })">Phóng Sự Kí Sự</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN10" })">Thơ Ca</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN11" })">Tiểu Thuyết Lãng Mạng</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN12" })">Truyện Dài</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN13" })">Truyện Ngắn</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN14" })">Truyện Thiếu Nhi</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#giaokhoanav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Sách Giáo Khoa
                                    </a>
                                </h4>
                            </div>
                            <div id="giaokhoanav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN15" })">Cấp 1</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN16" })">Cấp 2</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN17" })">Cấp 3</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN18" })">Đại Học</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#kinhtenav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Sách Kinh Tế
                                    </a>
                                </h4>
                            </div>
                            <div id="kinhtenav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN19" })">Marketing</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN20" })">Ngoại Thương</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN21" })">Nhân Sự</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN22" })">Quản Trị</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN23" })">Tài Chính</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN24" })">Văn Bản Luật</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#tinhocnav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Tin Học - Ngoại Ngữ
                                    </a>
                                </h4>
                            </div>
                            <div id="tinhocnav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN25" })">Tiếng Anh</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN26" })">Tiếng Nhật</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN27" })">Từ Điển</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN28" })">Lập Trình</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN29" })">Mạng</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN30" })">Hệ Điều Hành</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#tapchinav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Tạp Chí
                                    </a>
                                </h4>
                            </div>
                            <div id="tapchinav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN31" })">Công Nghệ</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN32" })">Tiếp Thị Gia Đình</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN33" })">Phụ Nữ</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN34" })">Văn Hóa</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#tapchinav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Sách phát triển bản thân
                                    </a>
                                </h4>
                            </div>
                            <div id="tapchinav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN35" })">Sách học làm người</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN36" })">Danh nhân văn hóa</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN37" })">Hồi ký</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN38" })">Khoa học</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN39" })">Triết Gia - Chính Trị Gia - Nhà Quân Sự</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--/category-products-->

                    <div class="nxb_products">
                        <!--brands_products-->
                        <h2>Nhà Xuất Bản</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB01" })">First News</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB02" })">Kim Đồng</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB03" })">Thanh Niên</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB04" })">Lao Động</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB05" })">NXB Trẻ</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB06" })">NXB Đại Học Quốc Gia</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB07" })">NXB Giáo Dục</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB08" })">NXB Tổng Hợp</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->
                </div>
            </div>
            <div class="col-sm-9 padding-right" id="page-product">
                <div class="allitem-manager">
                    @Html.Raw(ViewBag.BookResult)
                </div>
                <div class="paging">
                    <ul class="pagination">
                        @for (int i = 1; i <= ViewBag.numpage; i++)
                        {
                            if (i != ViewBag.curpage)
                            {
                                <li>
                                    @Ajax.ActionLink(@i.ToString(), "ShowPageProduct", new { pagenumber = i}, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "page-product",
                                   InsertionMode = InsertionMode.Replace
                               })
                                </li>
                            }
                            else
                            {
                                <li class="disabled"><a href="#">@i</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div id="test">
            </div>
        </div>
    </div>
</section>