﻿@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-carousel" data-slide-to="1"></li>
                    <li data-target="#slider-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-sm-6">
                            <h1><span>E</span>-Book Shop</h1>
                            <h2>Miễn phí giao dịch điện tử</h2>
                            <h2>(Free E-Commerce)</h2>
                            <p>Chúng tôi tự hào mang đến một địa điểm mua sách online lý tưởng, mọi lúc, mọi nơi mà không phải tốn quá nhiều thời gian.</p>
                        </div>
                        <div class="col-sm-6">
                            <img src="../../Images/home/slide1.png" class="girl img-responsive slide-news" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-6">
                            <h1><span>E</span>-Shop</h1>
                            <h2>100% Sách bản quyền</h2>
                            <h2>100% Coppyright Book</h2>
                            <p>Mọi cuốn sách chúng tôi mang đến cho độc giả đều được bảo mật về quyền tác giả, tạo nên sự tin tưởng từ các nhà sách. </p>
                        </div>
                        <div class="col-sm-6">
                            <img src="../../Images/home/slide3.jpg" class="girl img-responsive slide-news" alt="" />
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-sm-6">
                            <h1><span>E</span>-Shop</h1>
                            <h2>Liên tục cập nhật sách</h2>
                            <h2>(Alway update product)</h2>
                            <p>Sách được cập nhật kịp thời, mọi lúc, mọi nơi để đáp ứng nhu cầu của đọc giả.</p>
                        </div>
                        <div class="col-sm-6">
                            <img src="../../Images/home/slide2.jpg" class="girl img-responsive slide-news" alt="" />
                        </div>
                    </div>

                </div>

                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Loại Sách</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#vanhoctrongnuocnav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Văn Học Trong Nước
                                    </a>
                                </h4>
                            </div>
                            <div id="vanhoctrongnuocnav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN01" })">Phê Bình Văn Học</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN02" })">Phóng Sự Kí Sự</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN03" })">Thơ Ca</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN04" })">Tiểu Thuyết Lãng Mạng</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN05" })">Truyện Dài</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN06" })">Truyện Ngắn</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN07" })">Truyện Thiếu Nhi</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#vanhocnuocngoainav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Văn Học Nước Ngoài
                                    </a>
                                </h4>
                            </div>
                            <div id="vanhocnuocngoainav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN08" })">Phê Bình Văn Học</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN09" })">Phóng Sự Kí Sự</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN10" })">Thơ Ca</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN11" })">Tiểu Thuyết Lãng Mạng</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN12" })">Truyện Dài</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN13" })">Truyện Ngắn</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN14" })">Truyện Thiếu Nhi</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#giaokhoanav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Sách Giáo Khoa
                                    </a>
                                </h4>
                            </div>
                            <div id="giaokhoanav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN15" })">Cấp 1</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN16" })">Cấp 2</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN17" })">Cấp 3</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN18" })">Đại Học</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#kinhtenav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Sách Kinh Tế
                                    </a>
                                </h4>
                            </div>
                            <div id="kinhtenav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN19" })">Marketing</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN20" })">Ngoại Thương</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN21" })">Nhân Sự</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN22" })">Quản Trị</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN23" })">Tài Chính</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN24" })">Văn Bản Luật</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#tinhocnav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Tin Học - Ngoại Ngữ
                                    </a>
                                </h4>
                            </div>
                            <div id="tinhocnav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN25" })">Tiếng Anh</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN26" })">Tiếng Nhật</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN27" })">Từ Điển</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN28" })">Lập Trình</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN29" })">Mạng</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN30" })">Hệ Điều Hành</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#tapchinav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Tạp Chí
                                    </a>
                                </h4>
                            </div>
                            <div id="tapchinav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN31" })">Công Nghệ</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN32" })">Tiếp Thị Gia Đình</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN33" })">Phụ Nữ</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN34" })">Văn Hóa</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#tapchinav">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Sách phát triển bản thân
                                    </a>
                                </h4>
                            </div>
                            <div id="tapchinav" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN35" })">Sách học làm người</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN36" })">Danh nhân văn hóa</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN37" })">Hồi ký</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN38" })">Khoa học</a></li>
                                        <li><a href="@Url.Action("SearchByType", "ProductSearchPaging", new { groupid = "NN39" })">Triết Gia - Chính Trị Gia - Nhà Quân Sự</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--/category-products-->

                    <div class="nxb_products">
                        <!--brands_products-->
                        <h2>Nhà Xuất Bản</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB01" })">First News</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB02" })">Kim Đồng</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB03" })">Thanh Niên</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB04" })">Lao Động</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB05" })">NXB Trẻ</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB06" })">NXB Đại Học Quốc Gia</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB07" })">NXB Giáo Dục</a></li>
                                <li><a href="@Url.Action("SearchByProvider", "ProductSearchPaging", new { ProviderID = "NXB08" })">NXB Tổng Hợp</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-pannel">
                    <h2 class="title text-center">Danh sách tìm kiếm cho từ: @Html.Raw(ViewBag.SearchName)</h2>
                    @Html.Raw(ViewBag.BookResult)
                </div>
                <div class="paging">
                    <ul class="pagination">
                        @Html.Raw(ViewBag.HtmlPaging)
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

